@font-face {
  font-family: Silkscreen;
  src: url("./assets/fonts/Silkscreen-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.canvas {
  border: 1px solid #000;
  background-color: #000;
}
