@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

table {
  width: 100%;
}

td,
th {
  border: 1px solid #1e1e1e;
  text-align: left;
  padding: 8px;
}
