@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

.main-wrapper {
  background-image: url(assets/images/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $font-family;
  font-size: $m-normal-font;
  font-weight: 500;
  padding: 50px 0 30px 0;

  @include mqmin($mobile-breakpoint) {
    font-size: $t-normal-font;
  }
  @include mqmin($tablet-breakpoint) {
    font-size: $l-normal-font;
  }
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.btn {
  padding: 20px 25px;
  border: none;
  border-radius: $border-radius;
  font-weight: 700;
  cursor: pointer;
}

a {
  color: $semi-white;
}

.icon-wrapper {
  background-color: $transparent-gray;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mqmin($mobile-breakpoint) {
    width: 50px;
    height: 50px;
  }
}

figure {
  margin: 0;
  padding: 0;
  line-height: 1;
}

figure img {
  display: block;
  max-width: 100%;
  height: auto;
}

.primary-btn {
  &:hover {
    background-color: #047bc0 !important;
  }
}

.secondary-btn {
  &:hover {
    background-color: transparentize($color: #c4c4c4, $amount: 0.8) !important;
  }
}
