.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  flex-direction: column;
  position: relative;
  gap: 20px;
  .outer-quote {
    position: absolute;
    background-color: $transparent-gray;
    border-radius: $border-radius;
    padding: 30px 12px;
    top: -12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .quotes {
      background-color: $secondary-color;
      color: $white;
      padding: 28px 24px;
      border-radius: 10px;
      width: 100%;

      &__title {
        font-weight: 700;
        font-size: rem(18);
        text-align: center;
      }

      &__body {
        margin: 5px 0 24px 0;
      }
      .send-mail {
        display: flex;

        .send {
          background-color: $primary-color;
          padding: 10px 23px 10px 11px;
          border-radius: 0 20px 20px 0;
          width: 20%;
          display: flex;
          justify-content: center;
        }

        &__input {
          font-size: rem(10);
          padding: 14px 26px 16px 12px;
          border-radius: 20px 0 0 20px;
          border: none;
          width: 80%;
        }
      }
    }
  }

  &__logo {
    width: 150px;
  }

  &__list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  &__social {
    display: flex;
    gap: 5px;

    a .social-icon img {
      &:hover {
        fill: black;
      }
    }
  }
}
