.banner {
  color: $white;
  display: flex;
  gap: 15%;

  &__content {
    width: 39%;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    margin: 64px 0 175px 0;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 1.15;
  }

  &__btn2 {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    margin-left: 32px;
  }

  &__right {
    padding-top: 2rem;
  }

  &__images {
    position: relative;

    &__mastercard {
      position: absolute;
      top: 46.5%;
      left: 138%;
      transform: translate(-50%, -50%);
    }

    &__phone {
      @media only screen and (max-width: 565px) {
        // position: absolute;
      }
    }
  }

  @media only screen and (max-width: 565px) {
    flex-direction: column;
  }
}

.label {
  // margin: 0;
  line-height: 0;
  img {
    width: 100%;
  }
}
