.flex {
  display: flex;
}

.wrapper {
  background-color: $primary-color;
  color: $white;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

@for $i from 1 through 100 {
  .gap-#{$i} {
    gap: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

.bold {
  font-weight: 700;
}

.card {
  width: 448px;
  border: 1px solid $footer-hr-color;
  border-radius: $border-radius;
  cursor: pointer;
}
