//colors

$primary-color: #6158ff;
$black: #1d1c31;
$white: #ffffff;
$body-text-color: transparentize($black, 0.6);
$footer-text-color: transparentize($white, 0.6);
$footer-hr-color: transparentize($black, 0.1);

//border

$border-radius: 8px;
