//colors

$primary-color: #6158ff;
$black: #1d1c31;
$white: #ffffff;
$body-text-color: transparentize($black, 0.4);
$footer-text-color: transparentize($white, 0.4);
$footer-hr-color: transparentize($black, 0.9);
$seperator-color: transparentize($white, 0.9);

//border

$border-radius: 8px;
